
<div class="wizard__footer">
  <button type="button" class="btn btn-secondary wizard__btn-previous"
    (click)="navigatePrevious()"
    [disabled]="!hasPrevious() || !isValid()">{{btnPreviousText}}</button>

  <button type="button" class="btn btn-secondary wizard__btn-next"
    (click)="navigateNext()"
    [disabled]="!isValid()"
    *ngIf="hasNext()">{{btnNextText}}</button>

  <button type="button" class="btn btn-primary wizard__btn-complete"
    *ngIf="!hasNext()"
    [disabled]="!isValid()"
    (click)="sendComplete()">{{btnCompleteText}}</button>

</div>
