
<div class="wizard__footer">
  <evb-button type="button" class="btn btn-secondary wizard__btn-previous"
    (click)="navigatePrevious()"
    [disabled]="!hasPrevious() || !isValid()">{{btnPreviousText}}</evb-button>

  <evb-button type="button" class="btn btn-secondary wizard__btn-next"
    (click)="navigateNext()"
    [disabled]="!isValid()"
    *ngIf="hasNext()">{{btnNextText}}</evb-button>

  <evb-button type="button" class="btn btn-primary wizard__btn-complete"
    *ngIf="!hasNext()"
    [disabled]="!isValid()"
    (click)="sendComplete()">{{btnCompleteText}}</evb-button>

</div>
