@import 'src/app/components/variables.scss';

.wizard__menu {
  border-bottom: 1px solid $color-primary;
  counter-reset: wizard-step;
}
.wizard__menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wizard__menu-item--selected {
  background-color: $color-primary;
  color: $color-primary-contrast;
}
.wizard__menu-item--selected:not(:last-child) {
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.wizard__menu-link {
  cursor: pointer;
  display: block;
  height: 100%;
  padding: .5rem 1rem;

  &:before{
    counter-increment: wizard-step;
    content: counter(wizard-step) '. ';
  }
}
.wizard__menu-link--disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.align--center {
  justify-content: center;
}
.align--right {
  justify-content: flex-end;
}
.align--fill {
  justify-content: space-between;

  .wizard__menu-item {
    flex: 1 1 100%;
  }
}
