
<section>
  <h2>List</h2>
  <evb-list [items]="listItemsObj" [filterEnabled]="true" class="">
    <ng-template let-item let-i="index" let-odd="odd" let-even="even" let-first="first" let-last="last">

      <evb-panel dir="col">
        <h4>{{item.name}}</h4>
        item: {{item | json}}<br>
        index: {{i}}<br>
        first: {{first}}<br>
        last: {{last}}<br>
        odd: {{odd}}<br>
        even: {{even}}
      </evb-panel>
    </ng-template>
  </evb-list>
</section>

<section>
  <h2>Wizard</h2>

  <evb-wizard>
    <evb-wizard-header></evb-wizard-header>

    <evb-wizard-step name="step1">
      <p>evb-wizard-step-1</p>
    </evb-wizard-step>

    <evb-wizard-step name="step2">
      <h2>evb-wizard-step-2</h2>
    </evb-wizard-step>

    <evb-wizard-step name="step3">
      <p>evb-wizard-step-3</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget magna massa. Vivamus vehicula orci interdum ipsum aliquam, ut elementum lorem porttitor. Nulla eget orci justo. In egestas consectetur odio, quis fermentum ipsum condimentum vitae. Sed at tincidunt est. Vestibulum at enim eu eros vulputate consectetur. Phasellus facilisis massa id euismod mattis.</p>
    </evb-wizard-step>

    <evb-wizard-step name="step4">
      <p>evb-wizard-step-4</p>
      <ul>
        <li> content list 1</li>
        <li> content list 2</li>
        <li> content list 3</li>
        <li> content list 4</li>
      </ul>
    </evb-wizard-step>

    <evb-wizard-footer [btnPreviousText]="'Vorige'" [btnNextText]="'Volgende'" [btnCompleteText]="'Voltooien'"></evb-wizard-footer>
  </evb-wizard>
</section>

<section>
  <h2>Panels</h2>

  <evb-panel root="true">
    <div>line 1</div>
    <div>line 2</div>
  </evb-panel>

  <evb-panel class="mock" dir="col">
    <div>line 1</div>
    <div>line 2</div>
  </evb-panel>
</section>

<section>
  <h2>Buttons</h2>

  <evb-button class="test-btn" (click)="handleClick($event)">click me!</evb-button>
  <evb-button type="submit" (click)="handleClick($event)">submit button</evb-button>
  <evb-button busy="true" (click)="handleClick($event)">disabled</evb-button>
</section>

<section>
  <h2>Filepicker</h2>

  <evb-file-picker [multiple]="true"></evb-file-picker>

</section>

<section>
  <h2>Progress bar</h2>

  <evb-progressbar [progress]="progressbar.progress"></evb-progressbar>
  <input type="range" min="0" max="100" [(ngModel)]="progressbar.progress"> Progress: {{progressbar.progress}}%<br>
  <evb-progressbar [progress]="progressbar.progress" [height]="32" [showText]="true"></evb-progressbar>
</section>

<section>
  <h2>Donut</h2>
  <input type="range" min="1" max="{{donut.diameter / 2}}" [(ngModel)]="donut.thickness"> Thickness: {{donut.thickness}} <br>
  <input type="range" min="0" max="100" [(ngModel)]="donut.progress"> Progress: {{donut.progress}}% <br>
  <input type="range" min="10" max="1000" [(ngModel)]="donut.diameter"> Diameter: {{donut.diameter}}<br>
  <input type="checkbox" id="invertDirection" [(ngModel)]="donut.invertDirection"><label for="invertDirection">Invert direction</label>
  <input type="checkbox" id="showText" [(ngModel)]="donut.showText"><label for="showText">Show text</label>
  <hr>

  <evb-donut
    [invertDirection]="donut.invertDirection"
    [progress]="donut.progress"
    [showText]="donut.showText"
    [thickness]="donut.thickness"
    [diameter]="donut.diameter">
  </evb-donut>

</section>
