

<section>
  <input type="range" min="1" max="{{donut.diameter / 2}}" [(ngModel)]="donut.thickness"> Thickness: {{donut.thickness}} <br>
  <input type="range" min="0" max="100" [(ngModel)]="donut.progress"> Progress: {{donut.progress}}% <br>
  <input type="range" min="10" max="1000" [(ngModel)]="donut.diameter"> Diameter: {{donut.diameter}}<br>
  <input type="checkbox" id="invertDirection" [(ngModel)]="donut.invertDirection"><label for="invertDirection">Invert direction</label>
  <input type="checkbox" id="showText" [(ngModel)]="donut.showText"><label for="showText">Show text</label>
  <hr>

  <evb-donut
    [invertDirection]="donut.invertDirection"
    [progress]="donut.progress"
    [showText]="donut.showText"
    [thickness]="donut.thickness"
    [diameter]="donut.diameter">
  </evb-donut>

</section>
