
$spinner-animation-duration: .75s !default;
$spinner-animation-delay: $spinner-animation-duration / 4;

:host {
  display: flex;
  position: relative;
  width: 4em;
}

.spinner-ball {
  animation: bounce $spinner-animation-duration linear 0s infinite;
  background-color: currentColor;
  border-radius: 50%;
  height: 1em;
  margin-right: .33em;
  width: 1em;
}

.spinner-ball-2 {
  animation-delay: $spinner-animation-delay;
}

.spinner-ball-3 {
  animation-delay: $spinner-animation-delay * 2;
}

@keyframes bounce {
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(50%);
  }
}
