
$spinner-animation-duration: 1s !default;

:host {
  display: flex;
  position: relative;
  width: 4em;
}

.spinner-ball {
  animation: bounce $spinner-animation-duration cubic-bezier(.66, .02, .21, 1) 0s infinite;
  background-color: currentColor;
  border-radius: 50%;
  height: 1em;
  margin-right: .33em;
  transition: all .3s ease-in-out;
  width: 1em;
}

.spinner-ball-1 {
  animation-delay: 0;
}

.spinner-ball-2 {
  animation-delay: .15s;
}

.spinner-ball-3 {
  animation-delay: .3s;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
