/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  color: #333;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button {
  cursor: pointer;
}
::placeholder {
  color: #999;
}

.modal_open {
  overflow: hidden;

  evb-root evb-container {
    filter: blur(.25rem) grayscale(90%);
  }
}
