@import 'src/app/components/variables.scss';

:host ::ng-deep input[type=range] {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;

  &::-webkit-slider-runnable-track {
    background: $color-primary;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    height: .1rem;
    transition-duration: .2s;
    width: 100%;
  }

  &::-webkit-slider-thumb {
    background: $color-primary;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 1rem;
    -webkit-appearance: none;
    margin-top: -.175em;
    width: 1rem;
  }

  &::-moz-range-track {
    background: $color-primary;
    border: none;
    cursor: pointer;
    height: .1rem;
    transition-duration: .2s;
    border-radius: 25px;
    width: 100%;
  }
  &::-moz-range-thumb {
    background: $color-primary;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 1px;
    color: transparent;
    cursor: pointer;
    height: .1rem;
    padding: .5rem;
    transition-duration: .2s;
    width: 100%;
  }
  &::-ms-fill-lower {
    background: $color-primary;
    border: 0 solid #000101;
    border-radius: 50;
  }
  &::-ms-fill-upper {
    background: lighten($color-primary, 25%);
    border: 0 solid #000101;
    border-radius: 50;
  }
  &::-ms-thumb {
    background: $color-primary;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 1rem;
    margin-top: -.1375em;
    width: 1rem;
  }
  &:focus {
    outline: none;
  }
  &:focus::-webkit-slider-runnable-track {
    background: darken($color-primary, 15%);
  }
  &:focus::-ms-fill-lower {
    background: $color-primary;
  }
  &:focus::-ms-fill-upper {
    background: $color-primary;
  }
}

:host ::ng-deep output {
  margin-left: .5rem;
}
