:host {
  color: rgba(0, 0, 0, .8);
  display: block;
  font-style: italic;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

:host(.messagebox--info) {
  background-color: #fff;
  border: 1px solid #f4f4f4;
}

:host(.messagebox--error) {
  background-color: lighten(rgb(206, 48, 48), 20%);
  border: 1px solid rgb(206, 48, 48);
}
